<%- include('../partials/head') %>

<%- include('../partials/navigation') %>

<main>

  <%- include('../partials/form-signup.ejs', { values, validationErrors }) %>

</main>

<%- include('../partials/end') %>
