<%- include("../partials/head") %>

<%- include("../partials/navigation") %>

<main>

  <form action="add-product" method="post">
    <label for="name">Product name</label>
    <input type="text" id="name" name="name" placeholder="Product name" required>
    <label for="description">Product description</label>
    <textarea id="description" name="description" placeholder="Product description" rows="5" required></textarea>
    <label for="price">Product price</label>
    <input type="text" id="price" name="price" placeholder="€" required></input>
    <button type="submit">Add Product</button>
  </form>

</main>

<%- include("../partials/end") %>
