<div id="flashClose" x-data="{ flashMessage: '<%= flashMessage %>' }">
  <dialog open aria-label="Close" class="close" x-cloak x-show="flashMessage" x-transition.opacity
    x-transition.duration.500ms @click="flashMessage = false">
    <h3><%= `${flashMessage}` %></h3>
  </dialog>
</div>
