<form action="/new-password" method="post">
  <label for="password">New Password</label>
  <input type="password" id="password" name="password" value="123456">
  <label for="confirm-password">Confirm New Password</label>
  <input type="password" id="confirmPassword" name="confirmPassword" value="123456">
  <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
  <input type="hidden" name="userId" value="<%= userId %>">
  <button type="submit">Update Password</button>
</form>
