  <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
  <input type="hidden" name="productId" value="<%= product._id %>">
  <button onclick="deleteProduct(this)">⚠️Delete product⚠️</button>
