<form action="/reset" method="post">
  <label for="email">Email</label>
  <input type="email" id="email" name="email" value="maabaa@yopmail.com">
  <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
  <button type="submit">Reset Password</button>
</form>
