<form action="/admin/delete-product" method="post">
  <input type="hidden" name="csrfToken" value="<%= csrfToken %>">
  <input type="hidden" name="productId" value="<%= product._id %>">
  <button type="submit">⚠️Delete product⚠️</button>
</form>
