<header class="container">
  <nav>
    <li><strong>NodeJS</strong></li>
    <ul>
      <li>
        <a href="/" <% if (path === '/') { %> class="active" <% } %> >Shop</a>
      </li>
      <li>
        <a href="/admin/add-product" <% if (path === '/add-product') { %>
          class="active" <% } %> >Add Product</a
        >
      </li>
    </ul>
  </nav>
</header>
