<%- include('partials/head') %>

<%- include('partials/header', {path: path}) %>

<main class="container">
  <form action="add-product" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" />
    <button type="submit">Add Product</button>
  </form>
</main>
