:root:not([data-theme]) {
  --primary: #d81b60;
  --primary-hover: #e91e63;
  --primary-focus: rgba(216, 27, 96, 0.25);
  --primary-inverse: #fff;
}

[x-cloak] {
  display: none !important;
}

.active {
  font-weight: 600;
  text-decoration: underline var(--primary-focus) 3px;
}

article {
  text-align: center;
}

article > img {
  margin: 2rem;
  border-radius: 2%;
}

nav {
  padding-right: 2rem;
}

#flashClose {
  cursor: pointer;
}
