<%- include('../partials/head') %>

<%- include('../partials/navigation') %>

<main>
  <% if (products.length) { %>

  <h2>Cart</h2>

  <% products.forEach((product) => { %>

  <%- include('../partials/product-card', { product }) %>

  <% }) %>
  <a role="button" href="/checkout">Checkout</a>
  <% } else { %>

  <h2>Cart is empty.</h2>

  <% } %>
</main>

<%- include('../partials/end') %>
