<%- include('../partials/head') %>

<%- include('../partials/navigation') %>

<main>
  <% if (orders.length) { %>

  <h2>Orders</h2>

  <% orders.forEach((order) => { %>

  <% order.products.forEach(product => { %>

  <%- include('../partials/product-card.ejs', {product}) %>

  <% }) %>

  <% })} else { %>

  <h2>No orders found.</h2>

  <% } %>
</main>

<%- include('../partials/end') %>
