<%- include('../partials/head') %>

<%- include('../partials/navigation') %>

<main>
  <% if (products.length) { %>
  <h2>All products</h2>
  <% products.forEach(product => { %>

  <%- include('../partials/product-card', {product}) %>

  <% }) %> <% } else { %>
  <h2>No product found.</h2>
  <% } %>
</main>

<%- include('../partials/end') %>
