<%- include('../partials/head') %>

<%- include('../partials/navigation') %>

<main>

  <hgroup>
    <h2>Something went wrong on our side :(</h2>
    <p>Ops were notified.</p>
  </hgroup>

  <mark><i>"<%= message %>"</i></mark>

</main>

<%- include('../partials/end') %>
